/********************************/
/*          Navbar              */
/********************************/
.navbar
{
    padding-left: 10%;
    padding-right: 10%;
    background-color: transparent;
}
.navbar-right
{
      padding-top: 0.6%;
}

/********************************/
/*         Navbar Items        */
/********************************/
.nav-link
{
    font-family: 'Lato';
    color: black;
    text-decoration: none;
    opacity: 1;
    font-size: 1.7rem;
    
}

.nav-item .nav-link:hover
{
    color: black;
    background-color: transparent;
    font-weight: 600;

}
/********************************/
/*     Books Categories         */
/********************************/
#all_books
{
    padding-left: 11%;
    padding-right: 10%;
}


/********************************/
/*          Carousel            */
/********************************/
.fade-carousel {
    position: relative;
    height: 70vh;
}
.fade-carousel .carousel-inner .item {
    height: 70vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: white;
    border-color: black;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*       Hero Headers Text      */
/********************************/
#hero1
{
    -webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    -webkit-text-stroke: 2px black;
	-webkit-text-fill-color: white;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 100%;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*    Slides Image backgrounds  */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 70vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.fade-carousel .slides .slide-1 {
  background-image: url(https://images.unsplash.com/photo-1463320726281-696a485928c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://images.unsplash.com/photo-1566576721346-d4a3b4eaeb55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://images.unsplash.com/photo-1531846802986-4942a5c3dd08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}

/********************************/
/*          Books Layout       */
/********************************/
#container {
  padding: 2px 16px;
}

#style_books
{
    margin-left: 10%;
    margin-right: 10%;
    height: 130vh;
}

#column {
  text-align: center;
  padding: 10px;
    color: lightgrey;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 600;
    
}
#column1
{
    text-align: center;
  padding: 10px;
    color: darkgrey;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lato';
    
}


.column {
  float: left;
  width: 20%;
  padding: 0 10px;
    margin-bottom: 3%;
}


.row {margin-right: 10%;
margin-left: 10%;}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.card:hover{
  transform: translateY(-10px);
}

/********************************/
/*    Text Inside Card Layout   */
/********************************/
h3
{
    text-align: left;
}
p
{
    text-align: left;
}

a
{
    text-decoration: none;
    color: black;
}

a:hover
{
    text-decoration: none;
    color: black;
}

ul {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #000000;
}
ul li {
  position: relative;
  display: block;
  color: #666;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #171515;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
}
ul li:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  /* background: #d35400; */
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
  transition: 0.5s;
}
ul li:nth-child(1):before {
  background: #4267b2;
}
ul li:nth-child(2):before {
  background: #1da1f2;
}
ul li:nth-child(3):before {
  background: #2867b2;
}
ul li:nth-child(4):before {
  background: #ff0000;
}
ul li:nth-child(5):before {
  background: #25d366;
}
ul li:hover:before {
  filter: blur(3px);
  transform: scale(1.2);
  /*box-shadow: 0 0 15px #d35400; */
}
ul li:nth-child(1):hover:before {
  box-shadow: 0 0 15px #4267b2;
}
ul li:nth-child(2):hover:before {
  box-shadow: 0 0 15px #1da1f2;
}
ul li:nth-child(3):hover:before {
  box-shadow: 0 0 15px #2867b2;
}
ul li:nth-child(4):hover:before {
  box-shadow: 0 0 15px #ff0000;
}
ul li:nth-child(5):hover:before {
  box-shadow: 0 0 15px #25d366;
}
ul li:nth-child(1):hover {
  color: #456cba;
  box-shadow: 0 0 15px #4267b2;
  text-shadow: 0 0 15px #4267b2;
}
ul li:nth-child(2):hover {
  color: #26a4f2;
  box-shadow: 0 0 15px #1da1f2;
  text-shadow: 0 0 15px #1da1f2;
}
ul li:nth-child(3):hover {
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867b2;
  text-shadow: 0 0 15px #2867b2;
}
ul li:nth-child(4):hover {
  color: #ff1a1a;
  box-shadow: 0 0 15px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}
ul li:nth-child(5):hover {
  color: #2eff7c;
  box-shadow: 0 0 15px #25d366;
  text-shadow: 0 0 15px #25d366;
}
